In [15]:
from sklearn import datasets
from sklearn.svm import LinearSVR
from sklearn.pipeline import make_pipeline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

## 訓練

In [2]:
df_train = pd.read_csv("C:/Users/jimmy/Downloads/專案作業二/AdultsDataSet_Finaltrain.csv")
df_train

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,salary
0,39,5,77516,2,13,4,0,1,4,1,2174,0,40,38,0
1,50,4,83311,2,13,2,3,0,4,1,0,0,13,38,0
2,38,2,215646,0,9,0,5,1,4,1,0,0,40,38,0
3,53,2,234721,5,7,2,5,0,2,1,0,0,40,38,0
4,28,2,338409,2,13,2,9,5,2,0,0,0,40,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30157,27,2,257302,6,12,2,12,5,4,0,0,0,38,38,0
30158,40,2,154374,0,9,2,6,0,4,1,0,0,40,38,1
30159,58,2,151910,0,9,6,0,4,4,0,0,0,40,38,0
30160,22,2,201490,0,9,4,0,3,4,1,0,0,20,38,0
30161,52,3,287927,0,9,2,3,5,4,0,15024,0,40,38,1

In [3]:
# normalize 正規畫
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_train1 = scaler.fit_transform(df_train)
df_train2 = pd.DataFrame(df_train1,columns=df_train.columns)
df_train2

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,salary
0,0.301370,0.833333,0.043338,0.133333,0.800000,0.666667,0.000000,0.2,1.0,1.0,0.021740,0.0,0.397959,0.95,0.0
1,0.452055,0.666667,0.047277,0.133333,0.800000,0.333333,0.230769,0.0,1.0,1.0,0.000000,0.0,0.122449,0.95,0.0
2,0.287671,0.333333,0.137244,0.000000,0.533333,0.000000,0.384615,0.2,1.0,1.0,0.000000,0.0,0.397959,0.95,0.0
3,0.493151,0.333333,0.150212,0.333333,0.400000,0.333333,0.384615,0.0,0.5,1.0,0.000000,0.0,0.397959,0.95,0.0
4,0.150685,0.333333,0.220703,0.133333,0.800000,0.333333,0.692308,1.0,0.5,0.0,0.000000,0.0,0.397959,0.10,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30157,0.136986,0.333333,0.165563,0.400000,0.733333,0.333333,0.923077,1.0,1.0,0.0,0.000000,0.0,0.377551,0.95,0.0
30158,0.315068,0.333333,0.095589,0.000000,0.533333,0.333333,0.461538,0.0,1.0,1.0,0.000000,0.0,0.397959,0.95,1.0
30159,0.561644,0.333333,0.093914,0.000000,0.533333,1.000000,0.000000,0.8,1.0,0.0,0.000000,0.0,0.397959,0.95,0.0
30160,0.068493,0.333333,0.127620,0.000000,0.533333,0.666667,0.000000,0.6,1.0,1.0,0.000000,0.0,0.193878,0.95,0.0
30161,0.479452,0.500000,0.186383,0.000000,0.533333,0.333333,0.230769,1.0,1.0,0.0,0.150242,0.0,0.397959,0.95,1.0

In [4]:
train_X = df_train2.drop('hours_per_week', axis=1) # 將hours per week 拿掉
train_y = df_train2['hours_per_week']

In [5]:
clf = LinearSVR(random_state=0, tol=1e-5)
clf.fit(train_X,train_y)

c:\users\jimmy\jimmy-env\lib\site-packages\sklearn\svm\_base.py:976: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

LinearSVR(random_state=0, tol=1e-05)

In [7]:
df_test = pd.read_csv("C:/Users/jimmy/Downloads/專案作業二/AdultsDataSet_Finaltest.csv")

## 測試

In [9]:
# normalize
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_test1 = scaler.fit_transform(df_test)
df_test2 = pd.DataFrame(df_test1,columns=df_train2.columns)
df_test2

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,salary
0,0.109589,0.333333,0.144430,0.333333,0.400000,0.666667,0.461538,0.6,0.50,1.0,0.000000,0.0,0.397959,0.948718,0.0
1,0.287671,0.333333,0.051677,0.000000,0.533333,0.333333,0.307692,0.0,1.00,1.0,0.000000,0.0,0.500000,0.948718,0.0
2,0.150685,0.166667,0.219011,0.400000,0.733333,0.333333,0.769231,0.0,1.00,1.0,0.000000,0.0,0.397959,0.948718,1.0
3,0.369863,0.333333,0.099418,0.066667,0.600000,0.333333,0.461538,0.0,0.50,1.0,0.076881,0.0,0.397959,0.948718,1.0
4,0.232877,0.333333,0.125398,0.466667,0.333333,0.666667,0.538462,0.2,1.00,1.0,0.000000,0.0,0.295918,0.948718,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,0.219178,0.333333,0.156895,0.133333,0.800000,0.666667,0.692308,0.6,1.00,1.0,0.000000,0.0,0.397959,0.948718,0.0
15056,0.301370,0.333333,0.136723,0.133333,0.800000,0.000000,0.692308,0.2,1.00,0.0,0.000000,0.0,0.357143,0.948718,0.0
15057,0.287671,0.333333,0.244762,0.133333,0.800000,0.333333,0.692308,0.0,1.00,1.0,0.000000,0.0,0.500000,0.948718,0.0
15058,0.369863,0.333333,0.047666,0.133333,0.800000,0.000000,0.000000,0.6,0.25,1.0,0.054551,0.0,0.397959,0.948718,0.0
15059,0.246575,0.500000,0.114195,0.133333,0.800000,0.333333,0.230769,0.0,1.00,1.0,0.000000,0.0,0.602041,0.948718,1.0

In [10]:
df_test2_x = df_test2.drop('hours_per_week', axis=1)
df_test2_y = df_test2['hours_per_week']

In [11]:
preds_test = clf.predict(df_test2_x)

In [17]:
from sklearn.metrics import mean_squared_error
print('RMSE为：',np.sqrt(mean_squared_error(df_test2_y,preds_test)))

RMSE为： 0.12255231992586554

In [19]:
import scipy
import sklearn
from sklearn.model_selection import train_test_split
# from sklearn.metrics import mean_absolute_percentage_error
print('MAPE为：',mean_squared_error(df_test2_y,preds_test))

MAPE为： 0.0150190711192117