<a href="https://colab.research.google.com/github/m5532m5532/hw2_M10921008/blob/main/code/%E4%BD%9C%E6%A5%AD%E4%BA%8C_adult_%E9%A1%9E%E7%A5%9E%E7%B6%93.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("/content/drive/My Drive/colab/Colab Notebooks/資料探勘作業一/AdultsDataSet_Finaltrain.csv")
train

       age  workclass  fnlwgt  ...  hours_per_week  native_country  salary
0       39          5   77516  ...              40              38       0
1       50          4   83311  ...              13              38       0
2       38          2  215646  ...              40              38       0
3       53          2  234721  ...              40              38       0
4       28          2  338409  ...              40               4       0
...    ...        ...     ...  ...             ...             ...     ...
30157   27          2  257302  ...              38              38       0
30158   40          2  154374  ...              40              38       1
30159   58          2  151910  ...              40              38       0
30160   22          2  201490  ...              20              38       0
30161   52          3  287927  ...              40              38       1

[30162 rows x 15 columns]

In [3]:
# normalize
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
train1 = scaler.fit_transform(train)
train2 = pd.DataFrame(train1,columns=train.columns)
train2

            age  workclass    fnlwgt  ...  hours_per_week  native_country  salary
0      0.301370   0.833333  0.043338  ...        0.397959            0.95     0.0
1      0.452055   0.666667  0.047277  ...        0.122449            0.95     0.0
2      0.287671   0.333333  0.137244  ...        0.397959            0.95     0.0
3      0.493151   0.333333  0.150212  ...        0.397959            0.95     0.0
4      0.150685   0.333333  0.220703  ...        0.397959            0.10     0.0
...         ...        ...       ...  ...             ...             ...     ...
30157  0.136986   0.333333  0.165563  ...        0.377551            0.95     0.0
30158  0.315068   0.333333  0.095589  ...        0.397959            0.95     1.0
30159  0.561644   0.333333  0.093914  ...        0.397959            0.95     0.0
30160  0.068493   0.333333  0.127620  ...        0.193878            0.95     0.0
30161  0.479452   0.500000  0.186383  ...        0.397959            0.95     1.0

[30162 rows x 15 columns]

In [4]:
train_X = train2.drop('hours_per_week', axis=1)
train_y = train2['hours_per_week']

In [5]:
trainx=train_X.values
trainy=train_y.values

In [6]:
trainx.shape

(30162, 14)

In [11]:
from tensorflow.keras.layers import Input, Dense, Activation,Dropout
from tensorflow.keras.models import Model

In [12]:
input_layer = Input(shape=(trainx.shape[1],))
dense_layer_1 = Dense(32, activation='relu')(input_layer)
dense_layer_2 = Dense(16, activation='relu')(dense_layer_1)
dense_layer_3 = Dense(8, activation='relu')(dense_layer_2)
output = Dense(1)(dense_layer_3)

model = Model(inputs=input_layer, outputs=output)
model.compile(loss="mean_squared_error" , optimizer="adam", metrics=["mean_squared_error"])

In [13]:
model.summary()

Model: "functional_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_2 (InputLayer)         [(None, 14)]              0
_________________________________________________________________
dense_4 (Dense)              (None, 32)                480
_________________________________________________________________
dense_5 (Dense)              (None, 16)                528
_________________________________________________________________
dense_6 (Dense)              (None, 8)                 136
_________________________________________________________________
dense_7 (Dense)              (None, 1)                 9
=================================================================
Total params: 1,153
Trainable params: 1,153
Non-trainable params: 0
_________________________________________________________________

In [14]:
history = model.fit(trainx, trainy, batch_size=2, epochs=30, verbose=1, validation_split=0.2)

Epoch 1/30
12065/12065 [==============================] - 27s 2ms/step - loss: 0.0134 - mean_squared_error: 0.0134 - val_loss: 0.0128 - val_mean_squared_error: 0.0128
Epoch 2/30
12065/12065 [==============================] - 27s 2ms/step - loss: 0.0124 - mean_squared_error: 0.0124 - val_loss: 0.0125 - val_mean_squared_error: 0.0125
Epoch 3/30
12065/12065 [==============================] - 28s 2ms/step - loss: 0.0121 - mean_squared_error: 0.0121 - val_loss: 0.0125 - val_mean_squared_error: 0.0125
Epoch 4/30
12065/12065 [==============================] - 27s 2ms/step - loss: 0.0121 - mean_squared_error: 0.0121 - val_loss: 0.0122 - val_mean_squared_error: 0.0122
Epoch 5/30
12065/12065 [==============================] - 27s 2ms/step - loss: 0.0120 - mean_squared_error: 0.0120 - val_loss: 0.0122 - val_mean_squared_error: 0.0122
Epoch 6/30
12065/12065 [==============================] - 27s 2ms/step - loss: 0.0119 - mean_squared_error: 0.0119 - val_loss: 0.0123 - val_mean_squared_error: 0.0123
Epoch 7/30
12065/12065 [==============================] - 27s 2ms/step - loss: 0.0119 - mean_squared_error: 0.0119 - val_loss: 0.0120 - val_mean_squared_error: 0.0120
Epoch 8/30
12065/12065 [==============================] - 27s 2ms/step - loss: 0.0119 - mean_squared_error: 0.0119 - val_loss: 0.0122 - val_mean_squared_error: 0.0122
Epoch 9/30
12065/12065 [==============================] - 29s 2ms/step - loss: 0.0118 - mean_squared_error: 0.0118 - val_loss: 0.0121 - val_mean_squared_error: 0.0121
Epoch 10/30
12065/12065 [==============================] - 27s 2ms/step - loss: 0.0118 - mean_squared_error: 0.0118 - val_loss: 0.0121 - val_mean_squared_error: 0.0121
Epoch 11/30
12065/12065 [==============================] - 27s 2ms/step - loss: 0.0118 - mean_squared_error: 0.0118 - val_loss: 0.0125 - val_mean_squared_error: 0.0125
Epoch 12/30
12065/12065 [==============================] - 27s 2ms/step - loss: 0.0117 - mean_squared_error: 0.0117 - val_loss: 0.0122 - val_mean_squared_error: 0.0122
Epoch 13/30
12065/12065 [==============================] - 27s 2ms/step - loss: 0.0117 - mean_squared_error: 0.0117 - val_loss: 0.0121 - val_mean_squared_error: 0.0121
Epoch 14/30
12065/12065 [==============================] - 28s 2ms/step - loss: 0.0117 - mean_squared_error: 0.0117 - val_loss: 0.0119 - val_mean_squared_error: 0.0119
Epoch 15/30
12065/12065 [==============================] - 27s 2ms/step - loss: 0.0117 - mean_squared_error: 0.0117 - val_loss: 0.0123 - val_mean_squared_error: 0.0123
Epoch 16/30
12065/12065 [==============================] - 27s 2ms/step - loss: 0.0117 - mean_squared_error: 0.0117 - val_loss: 0.0118 - val_mean_squared_error: 0.0118
Epoch 17/30
12065/12065 [==============================] - 28s 2ms/step - loss: 0.0116 - mean_squared_error: 0.0116 - val_loss: 0.0119 - val_mean_squared_error: 0.0119
Epoch 18/30
12065/12065 [==============================] - 27s 2ms/step - loss: 0.0116 - mean_squared_error: 0.0116 - val_loss: 0.0123 - val_mean_squared_error: 0.0123
Epoch 19/30
12065/12065 [==============================] - 28s 2ms/step - loss: 0.0116 - mean_squared_error: 0.0116 - val_loss: 0.0128 - val_mean_squared_error: 0.0128
Epoch 20/30
12065/12065 [==============================] - 29s 2ms/step - loss: 0.0116 - mean_squared_error: 0.0116 - val_loss: 0.0119 - val_mean_squared_error: 0.0119
Epoch 21/30
12065/12065 [==============================] - 28s 2ms/step - loss: 0.0115 - mean_squared_error: 0.0115 - val_loss: 0.0121 - val_mean_squared_error: 0.0121
Epoch 22/30
12065/12065 [==============================] - 28s 2ms/step - loss: 0.0116 - mean_squared_error: 0.0116 - val_loss: 0.0121 - val_mean_squared_error: 0.0121
Epoch 23/30
12065/12065 [==============================] - 28s 2ms/step - loss: 0.0115 - mean_squared_error: 0.0115 - val_loss: 0.0120 - val_mean_squared_error: 0.0120
Epoch 24/30
12065/12065 [==============================] - 28s 2ms/step - loss: 0.0115 - mean_squared_error: 0.0115 - val_loss: 0.0118 - val_mean_squared_error: 0.0118
Epoch 25/30
12065/12065 [==============================] - 29s 2ms/step - loss: 0.0115 - mean_squared_error: 0.0115 - val_loss: 0.0120 - val_mean_squared_error: 0.0120
Epoch 26/30
12065/12065 [==============================] - 28s 2ms/step - loss: 0.0115 - mean_squared_error: 0.0115 - val_loss: 0.0119 - val_mean_squared_error: 0.0119
Epoch 27/30
12065/12065 [==============================] - 28s 2ms/step - loss: 0.0115 - mean_squared_error: 0.0115 - val_loss: 0.0120 - val_mean_squared_error: 0.0120
Epoch 28/30
12065/12065 [==============================] - 28s 2ms/step - loss: 0.0115 - mean_squared_error: 0.0115 - val_loss: 0.0118 - val_mean_squared_error: 0.0118
Epoch 29/30
12065/12065 [==============================] - 29s 2ms/step - loss: 0.0115 - mean_squared_error: 0.0115 - val_loss: 0.0119 - val_mean_squared_error: 0.0119
Epoch 30/30
12065/12065 [==============================] - 28s 2ms/step - loss: 0.0115 - mean_squared_error: 0.0115 - val_loss: 0.0119 - val_mean_squared_error: 0.0119

## 測試

In [15]:
df_test = pd.read_csv("/content/drive/My Drive/colab/Colab Notebooks/資料探勘作業一/AdultsDataSet_Finaltest.csv")

In [17]:
# normalize
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_test1 = scaler.fit_transform(df_test)
df_test2 = pd.DataFrame(df_test1,columns=df_test.columns)
df_test2

            age  workclass    fnlwgt  ...  hours_per_week  native_country  salary
0      0.109589   0.333333  0.144430  ...        0.397959        0.948718     0.0
1      0.287671   0.333333  0.051677  ...        0.500000        0.948718     0.0
2      0.150685   0.166667  0.219011  ...        0.397959        0.948718     1.0
3      0.369863   0.333333  0.099418  ...        0.397959        0.948718     1.0
4      0.232877   0.333333  0.125398  ...        0.295918        0.948718     0.0
...         ...        ...       ...  ...             ...             ...     ...
15055  0.219178   0.333333  0.156895  ...        0.397959        0.948718     0.0
15056  0.301370   0.333333  0.136723  ...        0.357143        0.948718     0.0
15057  0.287671   0.333333  0.244762  ...        0.500000        0.948718     0.0
15058  0.369863   0.333333  0.047666  ...        0.397959        0.948718     0.0
15059  0.246575   0.500000  0.114195  ...        0.602041        0.948718     1.0

[15060 rows x 15 columns]

In [18]:
df_test_X = df_test2.drop('hours_per_week', axis=1)
df_test_y = df_test2['hours_per_week']

In [19]:
# 預測
df_test_y_predicted = model.predict(df_test_X)

In [21]:
import numpy as np
from sklearn.metrics import mean_squared_error
print('RMSE为：',np.sqrt(mean_squared_error(df_test_y,df_test_y_predicted)))

RMSE为： 0.10826136896898443

In [22]:
import scipy
import sklearn
from sklearn.model_selection import train_test_split
# from sklearn.metrics import mean_absolute_percentage_error
print('MAPE为：',mean_squared_error(df_test_y,df_test_y_predicted))

MAPE为： 0.011720524011038585